/* BEM Naming is used */

/* Colors
#a1867fff;
#fbfaf8ff;
#110b11ff;
*/

* {
  background-color: #110b11ff;
  font-family: 'Lato', sans-serif;
}

strong {
  font-weight: 600;
  color: #a1867fff;
  margin: 0.3%;
}

.App {
  text-transform: uppercase;
}

.App, .Footer {
  color: #fbfaf8ff;
  text-align: center;
}

/* glassmorphism? */
.Countdown {
  /* background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px; */
}
