/* Colors
#cb997e;
#fbfaf8ff;
#110b11ff;*/

/* properties are styled alphabetically */

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #fbfaf8ff;
}

a:hover {
  opacity: 0.5;
}

html, body {
  align-items: center;
  background-color: #cb997e;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

strong {
  font-weight: 600;
  color: #cb997e;
}

.container {
  color: #fff;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

#content {
  display: none;
  padding: 1rem;
}

.emoji {
  padding: 0 .25rem;
}

.fab {
  padding: 0.6%;
}

.footer {
  background-color: #110b11ff;
  padding: 5% 5% 2% 5%;
  width: 100vw;
}

.footer__icons {
  margin-bottom: 0;
}

.landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/cheers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.landing__message {
  font-size: 4rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.125rem;
    padding: .75rem;
  }

  li span {
    font-size: 3.375rem;
  }
}
